#problem {
  height: calc(43px * 2);
  overflow: hidden;
}

/* also justify last lines */
#problem .line:after {
  content: "";
  display: inline-block;
  width: 100%;
}

#problem .line {
  text-align: justify;
  display: none;
  height: 43px;
}

#problem .line.lastActiveLine, #problem .line.currentActiveLine, #problem .line.nextActiveLine {
  display: block;
}

#problem .line.lastActiveLine  {
  margin-top: -43px;
  transition: all .3s ease-out;
}

#problem .word {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 1px;
  font-size: 120%;
}

#problem .active {
  background: #FCF8E3;
  border-color: #FAEBCC;
}

#problem .correct {
  background: #DFF0D8;
  border-color: #D6E9C6;
}

#problem .incorrect {
  background: #F2DEDE;
  border-color: #EBCCD1;
}


.stat {
  padding: 5px;
}

.stat-key {
  font-weight: bold;
}

.stat-value {
  text-align: right;
  direction: rtl;
}